
# {{ module.name }}

```
{{ module.doc }}
```

## Classes
{% for class in module.classes %} 
### class {{ class.name }}
{% for fun in class.functions %}
 - `{{ fun.name }}{{ fun.signature }}`

   {{ fun.doc }}
{% endfor %}
{% endfor %}
# Functions
{% for fun in module.functions %}
 - function `{{ fun.name }}{{ fun.signature }}`

   {{ fun.doc }}
{% endfor %}

---
{{ footer }}

